

.card{
    position: relative;
    width: 440px;
    /* background-color: rgb(65, 234, 234); */
    height: auto;
    overflow: hidden;
    margin: 10px 10px;
    /* border: 2px solid rgba(0, 0, 0, 0.4); */
    padding-bottom: 30px;
    flex: 0 0 30%;
}


.card .image{
    height: auto;
    display: flex;
    align-items: start;
    overflow: hidden;
    border-radius: 10px;
    background-color: aqua;
}


.card .image img{
    width: 100%;
}


.info{
    display: flex;
    position: relative;
    top: 5px;
    font-family: "Roboto", sans-serif;
}

.info .avatar{
  flex: 0 0 15%;
  height: 45px;
  max-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img{
    width: 100%;
    height: auto;
}

.info .other_info{
    flex: 0 0 85%;
  padding-left: 10px;
  position: relative;
  /* left: 10px; */
}


.info .other_info h3{
    /* background-color: bisque; */
   margin-top: 0px;
   padding-right: 0px;
   width: 90%;
   font-size: 1.05rem;
   margin-bottom: 8px;
   font-weight: 600;
}

.other_info h5{
    font-size: 0.9rem;
    color: rgb(75, 75, 75);
}
.other_info p{
    font-size: 0.9rem;
    color: rgb(75, 75, 75);
}

.three_dots{
    position: absolute;
    background: transparent;
    border: none;
    right: 0;
    padding: 10px;
}
.three_dots:hover{
    color: rgb(42, 43, 94);
}

.drop_down{
    position: absolute;
    top:30%;
    display: flex;
    flex-direction: column;
    right: 0;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 4px;
}

.drop_down a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

.drop_down a:hover{
    background-color: rgb(227, 236, 236);
}

.link1{
    text-decoration: none;
}

