
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}

.navlogo{
    height: 40px;
}

.avatar{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .avatar img{
      width: 100%;
      height: auto;
  }