
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.below{
  display: grid;
  grid-template-columns: 1fr 7fr;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}