body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-theme{
  color: aliceblue;
  --text-clr: aliceblue;
  --bg-menu: rgb(55, 55, 55);
  --bg-nav: #101010;
  --bg-cardsPage: #535151;
  --bg-card: #282828;
  --cardText: #f9f9f9;
}

.light-theme{
  color: black;
  --text-clr: black;
  --bg-menu: rgb(131, 216, 61);
  --bg-nav: rgb(216, 182, 71);
  --bg-cardsPage: #ffffff;
  --bg-card: #ffdccd;
  --cardText:#000000;
}

.menu{
  background-color: var(--bg-menu);
}
.menu a{
  color: var(--text-clr);
}

.menu .sugg{
  color: var(--text-clr);
}

.navbar{
  background-color: var(--bg-nav);
}

.cards_page{
  background-color: var(--bg-cardsPage);
}

.card_text_color{
  background-color: var(--bg-card);
  color: var(--cardText);
}